<nav class="navbar navbar-light navbar-glass navbar-top sticky-kit navbar-expand">
  <button class="btn navbar-toggler-humburger-icon navbar-toggler mr-1 mr-sm-3" type="button" data-toggle="collapse"
    data-target="#navbarVerticalCollapse" aria-controls="navbarVerticalCollapse" aria-expanded="false"
    aria-label="Toggle Navigation"><span class="navbar-toggle-icon"><span class="toggle-line"></span></span></button>
  <a class="navbar-brand mr-1 mr-sm-3" href="../index.html">
    <div class="d-flex align-items-center"><img class="mr-2" src="../assets/img/illustrations/falcon.png" alt=""
        width="40" /><span class="text-sans-serif">falcon</span>
    </div>
  </a>
  <ul class="navbar-nav align-items-center d-none d-lg-block">
    <li class="nav-item">
      <form class="form-inline search-box">
        <input class="form-control rounded-pill search-input" type="search" placeholder="Search..."
          style="padding-left: 2.2rem;" aria-label="Search" /><span
          class="position-absolute fa fa-search text-400 search-box-icon"></span>
      </form>
    </li>
  </ul>
  <ul class="navbar-nav navbar-nav-icons ml-auto flex-row align-items-center">
    <li class="nav-item">

    </li>
  </ul>
</nav>
