<div class="card mb-3">
  <div id="header-{{ id }}" class="card-header">
    <div class="row d-flex align-items-center  justify-content-between">
      <div class="col-sm">
        <ng-content select=".header"></ng-content>
      </div>
      <div class="col-sm-auto fs--1 d-flex align-items-center">
        <a class="text-sans-serif ml-2 ml-sm-3 coll-link" data-toggle="collapse" (click)="expandCollapsePanel()"
          [attr.aria-expanded]="isExpanded" attr.aria-controls="collapse-{{ id }}" id="heading-{{ id }}">
          <i id="icon" class="fa fa-chevron-left pull-right" [ngClass]="{'fa-chevron-down':isExpanded}"></i>
        </a>
      </div>
    </div>
  </div>
  <div id="collapse-{{ id }}" class="collapse" attr.aria-labelledby="heading-{{ id }}">
    <ng-content select=".card-content"></ng-content>
  </div>
</div>
