<div class="modal-header">
  <h5 class="modal-title">
    <span *ngIf="isForNew()">New Customer</span>
    <span *ngIf="!isForNew()">{{selectedCustomer.displayName}}</span>
  </h5>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <form>
    <div class="row">
      <div class="col">
        <div class="form-row">
          <div class="form-group col-md-2">
            <label for="inputZip">Title</label>
            <input type="text" class="form-control" id="inputZip">
          </div>
          <div class="form-group col-md-5">
            <label for="inputZip">First Name</label>
            <input type="text" class="form-control" id="inputZip">
          </div>

          <div class="form-group col-md-5">
            <label for="inputZip">Last Name</label>
            <input type="text" class="form-control" id="inputZip">
          </div>
        </div>
        <div class="form-group">
          <label for="inputZip">Company</label>
          <input type="text" class="form-control" id="inputZip">
        </div>
        <div class="form-group">
          <label for="inputZip">Display name*</label>
          <input type="text" class="form-control" id="inputZip">
        </div>
      </div>
      <div class="col">
        <div class="form-group">
          <label for="inputZip">Email</label>
          <input type="text" class="form-control" id="inputZip">
        </div>
        <div class="form-row">
          <div class="form-group col-md-4">
            <label for="inputZip">Phone</label>
            <input type="text" class="form-control" id="inputZip">
          </div>
          <div class="form-group col-md-4">
            <label for="inputZip">Mobile</label>
            <input type="text" class="form-control" id="inputZip">
          </div>
          <div class="form-group col-md-4">
            <label for="inputZip">Fax</label>
            <input type="text" class="form-control" id="inputZip">
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col-md-4">
            <label for="inputZip">Other</label>
            <input type="text" class="form-control" id="inputZip">
          </div>
          <div class="form-group col-md-8">
            <label for="inputZip">Website</label>
            <input type="text" class="form-control" id="inputZip">
          </div>
        </div>
      </div>
    </div>
    <div class="row mt-2">
      <div class="col">
        <ngb-tabset [destroyOnHide]="false">
          <ngb-tab title="Address">
            <ng-template ngbTabContent>
              <div class="pt-2">
                <div class="card">
                  <div class="card-body">
                    <div class="row">
                      <div class="col">
                        <span>
                          <h5 class="fs-0">Transfer Ownership <span
                              class="badge badge-pill badge-soft-primary">Business</span></h5>
                          <h5 class="fs-1">Your Town at, Zumbrota,MN 64644</h5>
                        </span>
                      </div>
                      <div class="col-md-1">
                        <button class="btn btn-falcon-default btn-sm dropdown-toggle ml-2 dropdown-caret-none"
                          type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span
                            class="fa fa-ellipsis-h"></span></button>
                        <div class="dropdown-menu">
                          <a class="dropdown-item" href="#">Edit</a>
                          <a class="dropdown-item" href="#">Clone Address</a>
                          <div class="dropdown-divider"></div>
                          <a class="dropdown-item text-danger" href="#">Delete Address</a>
                        </div>
                      </div>
                    </div>

                  </div>
                </div>
                <div class="card mt-1">
                  <div class="card-body">
                    <div class="row">
                      <div class="col">
                        <span>
                          <h5 class="fs-0">Transfer Ownership <span
                              class="badge badge-pill badge-soft-warning">Service</span></h5>
                          <h5 class="fs-1">Your Town at,Zumbrota, MN 64644</h5>
                        </span>
                      </div>
                      <div class="col-md-1">
                        <button class="btn btn-falcon-default btn-sm dropdown-toggle ml-2 dropdown-caret-none"
                          type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span
                            class="fa fa-ellipsis-h"></span></button>
                        <div class="dropdown-menu">
                          <a class="dropdown-item" href="#">Edit</a>
                          <a class="dropdown-item" href="#">Clone Address</a>
                          <div class="dropdown-divider"></div>
                          <a class="dropdown-item text-danger" href="#">Delete Address</a>
                        </div>
                      </div>
                    </div>

                  </div>
                </div>
              </div>
            </ng-template>
          </ngb-tab>
          <ngb-tab title="Notes">
            <ng-template ngbTabContent>
              NOTES
            </ng-template>
          </ngb-tab>
        </ngb-tabset>
      </div>
    </div>
  </form>
</div>
<div class="modal-footer">
  <div class="col pl-2" *ngIf="!isForNew()">
    <div class="float-left">
      <button class="btn btn-danger btn-sm mr-1 mb-1 " type="button">Delete</button>
    </div>
  </div>
  <div class="col pr-0">
    <div class="float-right">
      <button type="button" class="btn btn-outline-dark btn-sm mr-1 mb-1"
        (click)="activeModal.close('Close click')">Cancel</button>
      <button class="btn btn-primary btn-sm mr-1 mb-1" type="button">
        <span *ngIf="isForNew()">Create</span>
        <span *ngIf="!isForNew()">Update</span>
      </button>
    </div>
  </div>
</div>
