.form-group {
  margin-bottom: .2rem;
}

.width-title {
  flex: 0 0 18.666667%;
  max-width: 18.666667%;
}

.width-name {
  flex: 0 0 40.666667%;
  max-width: 40.666667%;
}
.tab-link{
  font-family: "Poppins", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 14px;
  color:#5e6e82;
}