<!-- <div class="card">
  <div class="card-body">
    <div class="justify-content-between align-items-center row">
      <div class="col-md">HELLO</div>
      <div class="col-auto">
        <button class="mr-2 btn btn-falcon-default btn-sm">Save</button>
        <button class="btn btn-falcon-primary btn-sm">Make your event live</button>
      </div>
    </div>
  </div>
</div> -->
<div class="bg-100 rounded-soft px-card py-2 mt-2 mb-3 no-gutters row">
  <div class="d-flex align-items-center col">
    <h5 class="mb-0">Jobs</h5>
  </div>
  <div class="col-auto">
    <button class="mr-2 btn btn-falcon-default btn-sm">
      <span class="fa fa-refresh"></span>
    </button>
     <button class="mr-2 btn btn-falcon-default btn-sm">
      <span class="fa fa-plus"></span> Create New Job
    </button>
  </div>
</div>
