<div class="modal-header">
  <h5 class="modal-title">Add Expense</h5>
</div>

<form [formGroup]="expenseFormGroup">
  <div class="modal-body">
    <div class="form-group">
      <label>Title</label>
      <input
        class="form-control form-control-sm"
        formControlName="title"
        [ngClass]="{ 'is-invalid': validationMessages.title }"
      />
      <div class="invalid-feedback show-error" *ngIf="validationMessages.title">
        {{ validationMessages.title }}
      </div>
    </div>
    <div class="form-group">
      <label>Description</label>
      <textarea
        class="form-control form-control-sm"
        formControlName="description"
        rows="3"
      >
      </textarea>
    </div>
    <div class="form-row">
      <div class="col">
        <div class="form-group">
          <label>Amount</label>
          <input
            type="number"
            formControlName="amount"
            class="form-control form-control-sm"
            placeholder="Amount"
          />
        </div>
      </div>
      <div class="col">
        <div class="form-group">
          <app-datetime-picker
            selectorType="date"
            formControlName="expenseDate"
            title="Date"
            [ngClass]="{ 'is-invalid': validationMessages.expenseDate }"
          ></app-datetime-picker>
          <div
            class="invalid-feedback show-error"
            *ngIf="validationMessages.expenseDate"
          >
            {{ validationMessages.expenseDate }}
          </div>
        </div>
      </div>
    </div>
    <div class="form-group">
      <label>Reimburse To</label>
      <select
        formControlName="reimburseToEmployeeId"
        class="form-control form-control-sm js-choice"
        choices=""
        [ngClass]="{ 'is-invalid': validationMessages.reimburseToEmployeeId }"
      >
        <optgroup *ngFor="let team of teams$ | async" [label]="team.teamName">
          <option
            *ngFor="let emp of team.employees"
            [ngValue]="emp"
            [value]="emp | json"
          >
            {{ emp.fullDisplayName }}
          </option>
        </optgroup>
      </select>
      <div
        class="invalid-feedback show-error"
        *ngIf="validationMessages.reimburseToEmployeeId"
      >
        {{ validationMessages.reimburseToEmployeeId }}
      </div>
    </div>
    <div class="form-group">
      <label>Job</label>
      <input class="form-control form-control-sm" formControlName="title" />
    </div>
    <div class="form-group">
      <label>Accounting Code</label>
      <select
        class="form-control form-control-sm"
        formControlName="expenseCode"
        [ngClass]="{ 'is-invalid': validationMessages.expenseCode }"
      >
        <option *ngFor="let c of expenseCodes$ | async" [ngValue]="c">
          {{ c.codeName }}
        </option>
      </select>
      <div
        class="invalid-feedback show-error"
        *ngIf="validationMessages.expenseCode"
      >
        {{ validationMessages.expenseCode }}
      </div>
    </div>
    [TO DO | UPLOAD RECEIPT]
  </div>
  <div class="modal-footer">
    <div class="d-flex justify-content-end">
      <button class="btn btn-xs btn-danger mr-1" (click)="onCancelClicked()">
        Cancel
      </button>
      <button
        type="submit"
        class="btn btn-xs btn-primary"
        (click)="onSaveButtonClicked()"
      >
        Save
      </button>
    </div>
  </div>
</form>
