<div class="card">
  <div class="card-body">
    <h5 class="text-700 fs-0">Custom Fields</h5>
    <p class="mt-2 text-500 fs--1">
      Use custom fields to track information specific to your orgnization.
    </p>
    <div class="row">
      <div class="col">
        <app-error-view
          [errors$]="errors$"
          [alertType]="alertType"
          [observableDefined]="true"
        ></app-error-view>
      </div>
    </div>
    <div class="row mt-2">
      <div class="col">
        <form [formGroup]="customFieldDetailGroup">
          <div class="form-row">
            <div class="col-8">
              <div class="form-group form-group-sm flex-fill">
                <label for="staticEmail2">Add Custom Field for</label>
                <select
                  class="form-control form-control-sm"
                  aria-placeholder=""
                  placeholder="Select entity type"
                  (change)="onEntityTypeSelected()"
                  formControlName="entityType"
                >
                  <option value="">Select Type</option>
                  <option *ngFor="let c of entityTypes$ | async" [ngValue]="c">
                    {{ c.entityName }}
                  </option>
                </select>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
    <div class="row mt-3" *ngIf="selectedEntityType$ | async as selectedType">
      <div class="col">
        <h5 class="text-500">
          Custom fields for {{ selectedType.entityName }}
        </h5>
      </div>
      <div class="col">
        <div class="d-flex justify-content-end">
          <button
            class="btn btn-xs btn-falcon-primary"
            [disabled]="hasReachedToMaxLimit"
            (click)="addNewCustomTypeClicked()"
          >
            <i class="fa fa-plus"></i> Add custom field for
            {{ selectedType.entityName }}
          </button>
        </div>
      </div>
    </div>
    <ng-container *ngIf="isSelectedEntityType">
      <ng-container *ngIf="fields$ | async as fields">
        <div class="row mt-2" *ngIf="fields.length === 0">
          <div class="col">
            <div class="d-flex justify-content-center">
              <h6 class="text-500">No custom fields defined.</h6>
            </div>
          </div>
        </div>
        <ng-container *ngIf="fields.length > 0">
          <div
            class="row header-row border-bottom bg-light p-2 mt-2 d-flex align-items-center"
          >
            <div class="col-7">
              <h6 class="font-weight-bold mb-0">Custom Field Info</h6>
            </div>
            <div class="col-3 d-flex justify-content-center">
              <h6 class="font-weight-bold mb-0">Field Type</h6>
            </div>
            <div class="col-2">
              <h6 class="font-weight-bold">&nbsp;</h6>
            </div>
          </div>
          <div
            class="row p-2 py-3 border-bottom hover-shadow d-flex align-items-center pointer"
            *ngFor="let field of fields; index as i"
          >
            <div class="col-7">
              <h6 class="font-weight-light fs--0 mb-0">
                {{ field.label }}
                <span class="text-danger" *ngIf="field.isRequired">*</span>
                <br />

                <div>
                  <small class="mr-2"
                    ><strong class="text-500 mr-1">Added By:</strong
                    >{{ field.createdByName }}
                    <strong class="ml-1 mr-1">on</strong
                    ><span>{{ field.createDate | date }}</span></small
                  >
                </div>
              </h6>
            </div>
            <div class="col-3 d-flex justify-content-center">
              <h6 class="text-500">{{ field.fieldName }}</h6>
            </div>
            <div class="col-2 d-flex justify-content-center">
              <button
                class="btn btn-sm btn-falcon-default mr-1"
                type="button"
                (click)="onEditButtonClicked(field, $event)"
              >
                <i class="fa fa-pencil"></i>
              </button>
              <!-- <button class="btn btn-sm btn-falcon-danger" type="button">
                <i class="fa fa-trash"></i>
              </button> -->
              <app-delete-button
                iconOnly="true"
                (onConfirmation)="onDeleteClicked(field)"
              ></app-delete-button>
            </div>
          </div>
        </ng-container>
      </ng-container>
    </ng-container>
  </div>
</div>
