<div class="modal-header">HEADER</div>
<div class="modal-body">
  <div>
    <div class="row">
      <div class="col-auto pr-0">
        <div
          class="btn-group-vertical btn-group-sm btn-group-toggle"
          data-toggle="buttons"
        >
          <label
            class="btn btn-xs btn-falcon-default"
            [ngClass]="{ active: i === 1 }"
            *ngFor="let grp of groups; index as i"
          >
            <input
              type="radio"
              name="group"
              (click)="onSelectionChanged(grp)"
              [id]="grp.groupName"
              [title]="grp.groupName"
            />
            {{ grp.groupName }}
          </label>
        </div>
      </div>
      <div class="col">
        <ag-grid-angular
          style="width: 100%; height: calc(100vh - 13.2rem)"
          class="ag-theme-alpine"
          [gridOptions]="gridOptions"
          [rowData]="filterProductsForModal$ | async"
        >
        </ag-grid-angular>
      </div>
    </div>
  </div>
</div>
<div class="modal-footer">FOOTER</div>
