<div class="modal-header">HEADER</div>
<div class="modal-body">
  <div>
    <div class="row">
      <div class="col-auto pr-0">
        <div
          class="btn-group-vertical btn-group-sm btn-group-toggle"
          data-toggle="buttons"
        >
          <label
            class="btn btn-xs btn-falcon-default"
            [ngClass]="{ active: i === 1 }"
            *ngFor="let grp of groups; index as i"
          >
            <input
              type="radio"
              name="group"
              (click)="onSelectionChanged(grp)"
              [id]="grp.groupName"
              [title]="grp.groupName"
            />
            {{ grp.groupName }}
          </label>
        </div>
      </div>
      <div class="col">
        <div>
          <table class="table table-bordered table-sm fs--1">
            <thead>
              <tr>
                <th style="width: 100px; max-width: 100px" class="text-center">
                  Action
                </th>
                <th>Name</th>
                <th>Description</th>
                <th>Price</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let product of filterProductsForModal$ | async">
                <td class="text-center">
                  <label for="checkbox{{ product.productId }}"></label>
                  <input type="checkbox" id="checkbox{{ product.productId }}" />
                </td>
                <td>
                  {{ product.name }}
                </td>
                <td>
                  {{ product.description }}
                </td>
                <td>
                  {{ product.unitPrice | currency }}
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="modal-footer">
  <button
    type="button"
    class="btn btn-danger btn-sm"
    (click)="activeModal.close(true)"
  >
    Close
  </button>
</div>
