<div class="modal-header">
  {{ title }}
</div>
<div class="modal-body">
  <div>
    <div class="row">
      <div class="col-auto pr-0">
        <div
          class="btn-group-vertical btn-group-sm btn-group-toggle"
          data-toggle="buttons"
        >
          <label
            class="btn btn-xs btn-falcon-default"
            [ngClass]="{ active: i === 1 }"
            *ngFor="let grp of groups; index as i"
          >
            <input
              type="radio"
              name="group"
              (click)="onSelectionChanged(grp)"
              [id]="grp.groupName"
              [title]="grp.groupName"
            />
            {{ grp.groupName }}
          </label>
        </div>
      </div>
      <div class="col">
        <div class="row">
          <div class="col">
            <div class="d-flex justify-content-end">
              <form [formGroup]="searchForm">
                <div class="input-group input-group-sm">
                  <input
                    #titleInput
                    type="text"
                    class="form-control form-control-sm"
                    placeholder="search product here..."
                    formControlName="searchCriteria"
                  />
                  <div class="input-group-append">
                    <button
                      class="btn btn-outline-secondary btn-sm"
                      type="button"
                      tabindex="-1"
                    >
                      <i class="fa fa-search"></i>
                    </button>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
        <div class="row mt-1">
          <div class="col">
            <div>
              <table class="table table-bordered table-sm fs--1">
                <thead>
                  <tr>
                    <th
                      style="width: 100px; max-width: 100px"
                      class="text-center"
                    >
                      Action
                    </th>
                    <th style="width: 200px; max-width: 200px">Name</th>
                    <th>Description</th>
                    <th>Price</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let product of filterProductsForModal$ | async">
                    <td class="text-center">
                      <button
                        #quantityPopover="ngbPopover"
                        [autoClose]="false"
                        [closeDelay]="20000"
                        triggers="manual"
                        [ngbPopover]="popQuantityContent"
                        [popoverTitle]="popQuantityTitle"
                        class="btn btn-xs btn-falcon-primary"
                        (click)="selectProduct(product, quantityPopover, false)"
                      >
                        Use
                      </button>
                    </td>
                    <td>
                      <span class="font-weight-semi-bold">
                        {{ product.name }}
                        <span
                          class="badge badge-soft-warning"
                          *ngIf="product.isServiceType"
                          >S</span
                        >
                      </span>
                    </td>
                    <td>
                      {{ product.description }}
                    </td>
                    <td>
                      {{ product.unitPrice | currency }}
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="modal-footer">
  <button
    type="button"
    class="btn btn-info btn-sm"
    (click)="activeModal.close(true)"
  >
    Done
  </button>
</div>
<ng-template #popQuantityContent>
  <div>
    <div class="row">
      <div class="col">
        <div class="form-group flex-fill">
          <label class="fs--1"
            >{{ selectedProduct?.name }}
            <span class="text-300">quantity</span></label
          >
          <input
            #quantityInput
            [(ngModel)]="quantityVal"
            id="quantityInput"
            type="number"
            class="form-control form-control-sm"
            placeholder="quantity..."
          />
        </div>
      </div>
    </div>
    <div class="row mt-2">
      <div class="col-auto">
        <button
          type="button"
          class="btn btn-sm btn-falcon-success"
          (click)="selectProduct(null, quantityPopover, true)"
        >
          Add
        </button>
      </div>
      <div class="col-auto">
        <button class="btn btn-sm btn-falcon-danger" (click)="closePopover()">
          Cancel
        </button>
      </div>
    </div>
  </div>
</ng-template>
<ng-template #popQuantityTitle>Use Quantity</ng-template>
