@primary-color: #2e374f;
@border-primary-color: #344267;

.btn-primary {
  background-color: @primary-color;
  border-color: @border-primary-color;
}

.btn-primary:hover {
  background-color: #3c4b73;
}

.btn-primary:disabled {
  background-color: #445070;
}


.modal-header {
  padding: .5rem 1rem;
}

.modal-footer {
  padding: .5rem .75rem;
}

.vh-90 {
  height: 90vh;
}
