/* You can add global styles to this file, and also import other style files */

/* Provide sufficient contrast against white background */
body {
  color: #5e6e82;
  text-align: left;
  background-color: #edf2f9;
}

a {
  color: #0366d6;
}

code {
  color: #e01a76;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.card {
  border: 0 solid #edf2f9;
  box-shadow: 0 7px 14px 0 rgba(65, 69, 88, .1), 0 3px 6px 0 rgba(0, 0, 0, .07);
}

.flex-center {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.pt-6,
.py-6 {
  padding-top: 4rem !important;
}

.min-vh-100 {
  min-height: 100vh !important;
}

.absolute-centered {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate3d(-50%, -50%, 0);
  transform: translate3d(-50%, -50%, 0);
}

a {
  cursor: pointer;
  color: #0366d6 !important;
}
