<div
  class="card"
  [ngClass]="{ 'mt-1': !isFirstItem }"
  [ngStyle]="{ 'border-left-color': job?.jobColor }"
>
  <div class="card-body">
    <div class="row">
      <div class="col-11">
        <span>
          <h6 class="mb-0 pb-0">
            <a class="job-number-link" (click)="onJobTitleClicked($event)"
              >#{{ job.fullJobNumber }}</a
            >
            <span class="ml-1">{{ job.title }}</span>
          </h6>
        </span>
        <div class="mt-1 text-500 description fs--1">
          <span>
            {{ job.description }}
          </span>
        </div>

        <div class="fs--1">
          <span class="mr-2">
            <strong class="mr-1">Customer: </strong>
            <a class="job-number-link" [ngbTooltip]="customerTooltip">
              <span>{{ job.customer?.displayName }}</span>
            </a>
            <span
              class="ml-1 fs-0"
              [ngbTooltip]="job.jobAddress?.formattedAddress"
            >
              <i class="fa fa-map-marker text-primary"></i>
            </span>
          </span>
          <span class="mr-2" *ngIf="!job.isUnassigned">
            <strong class="mr-1">Assigned To: </strong>
            <span>Ravi Mittal</span>
          </span>
          <span
            class="badge badge-pill badge-soft-danger mr-2"
            *ngIf="job.isUnassigned"
          >
            Unassigned
          </span>
          <span class="mr-2">
            <span class="mr-1"> <strong> Status: </strong> </span>
            <div
              class="badge badge-pill badge-soft-{{
                job.jobStatusText?.toLowerCase().replace(' ', '-')
              }}"
            >
              {{ job.jobStatusText }}
            </div>
          </span>
        </div>
      </div>
      <div class="col-1 d-flex">
        <div
          class="dropdown text-sans-serif btn-reveal-trigger position-static"
        >
          <button
            class="btn btn-falcon-default btn-xs dropdown-toggle btn-reveal dropdown-caret-none"
            type="button"
            id="dropdown-total-saldes"
            data-toggle="dropdown"
            data-boundary="viewport"
            aria-haspopup="true"
            aria-expanded="false"
          >
            Actions
          </button>
          <div
            class="dropdown-menu dropdown-menu-right border py-0"
            aria-labelledby="dropdown-total-saldes"
          >
            <div class="bg-white py-2">
              <a class="dropdown-item" (click)="onActionClicked('edit')">
                <i class="fa fa-pencil"></i>&nbsp;More details</a
              >
              <a
                class="dropdown-item"
                (click)="onActionClicked('assign')"
                *ngIf="job.isUnassigned"
              >
                <i class="fa fa-user"></i>&nbsp;Assign Job</a
              >
              <a class="dropdown-item" (click)="onActionClicked('addItem')">
                <i class="fa fa-plus"></i>&nbsp;Add Item</a
              >
              <a class="dropdown-item" (click)="onActionClicked('copy')">
                <i class="fa fa-copy"></i>&nbsp;Create similar job</a
              >
              <a
                class="dropdown-item text-danger"
                (click)="onActionClicked('cancel')"
              >
                <i class="fa fa-close"></i>&nbsp;Cancel Job</a
              >
              <a
                class="dropdown-item text-success"
                (click)="onActionClicked('markAsCompleted')"
              >
                <i class="fa fa-check"></i>&nbsp;Mask as completed</a
              >
              <a
                class="dropdown-item"
                (click)="onActionClicked('markAsCompleted')"
              >
                <i class="fa fa-print"></i>&nbsp;Print</a
              >
              <a
                class="dropdown-item"
                (click)="onActionClicked('markAsCompleted')"
              >
                <i class="fa fa-file-pdf-o"></i>&nbsp;Download PDF</a
              >
              <div class="dropdown-divider"></div>
              <a
                class="dropdown-item text-danger"
                (click)="onActionClicked('delete')"
              >
                <i class="fa fa-trash"></i>&nbsp;Delete Job</a
              >
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<ng-template #customerTooltip>
  <div class="tooltipTemplate">
    <p>
      Display Name <b>{{ job.customer?.displayName }}</b>
    </p>
    <p>
      Company <b>{{ job.customer?.companyName }}</b>
    </p>
    <p>
      Name <b>{{ job.customer?.fullName }}</b>
    </p>
  </div>
</ng-template>
