.card{
    cursor: pointer;
    border-left: 3px solid;
}

.description{
    line-height: 1;
}
.card:hover{
    background-color: rgba(255, 254, 220, 0.5);
}
.card-body {
    padding: 1rem;
    a .job-number-link{
        color:#2c7be5;
    }
    a:hover {
        text-decoration: underline;
    }
}


.tooltipTemplate p{
    margin-bottom: 0px;
    padding-bottom: 0px;
}


.tooltip-inner{
    max-width: 500px;
}