<div class="row no-gutters">
  <div class="col-xxl-8 pr-xxl-2 mb-3">
    <div class="card mb-3">
      <div class="bg-holder d-none d-lg-block bg-card">
      </div>
      <div class="card-body">
        <div class="row">
          <div class="col-lg-8">
            <h3 class="mb-0">Get started with your free trial</h3>
            <p class="mt-2">Premium team - 5 Seats. Free for 30 days, cancel at any time. <br />$6.25 / seat month after
              a trial</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-6 col-xxl-4 pl-xxl-2 mb-3">
    <div class="card mb-3 h-100">
      <div class="card-header">
        <h5 class="mb-0">Danger Zone</h5>
      </div>
      <div class="card-body bg-light">
        <h5 class="fs-0">Delete this account</h5>
        <p class="fs--1">Once you delete a account, there is no going back. Please be certain.</p><a
          class="btn btn-falcon-danger d-block" (click)="disconnectAccount()">Disconnect from Quickbooks </a>
      </div>
    </div>
  </div>
</div>
<!-- <div class="media mb-4 mt-6"><span class="fa fa-stack mr-2 ml-n1"><i class="fa fa-circle fa-stack-2x text-500"></i><i
      class="fa-inverse fa-stack-1x text-primary fas fa-folder-plus" data-fa-transform="shrink-2"></i></span>
  <div class="media-body">
    <h5 class="mb-0 text-primary position-relative"><span class="bg-200 pr-3">Others</span><span
        class="border position-absolute absolute-vertical-center w-100 z-index--1 l-0"></span></h5>
    <p class="mb-0">Get more awesome cards for showing your different types of content..</p>
  </div>
</div> -->
