<form [formGroup]="companyFormGroup">
  <div class="row no-gutters">
    <div class="col-xxl-8 pr-xxl-2 mb-3">
      <div class="card mb-3">
        <div class="card-body">
          <div class="row">
            <div class="col">
              <h3 class="mb-0">Company Settings</h3>
              <div class="mt-3 p-2">
                <div class="form-row">
                  <div class="form-group flex-fill">
                    <label>Company Name</label>
                    <input type="text" #firstName formControlName="givenName" class="form-control" />
                  </div>
                </div>
                <div class="form-row">
                  <div class="col">
                    <div class="form-group flex-fill">
                      <label>Phone Number</label>
                      <input type="text" #firstName formControlName="givenName" class="form-control" />
                    </div>
                  </div>
                  <div class="col">
                    <div class="form-group flex-fill">
                      <label>Website URL</label>
                      <input type="text" #firstName formControlName="givenName" class="form-control" />
                    </div>
                  </div>
                </div>
                <div class="form-row">
                  <div class="col">
                    <div class="form-group flex-fill">
                      <label>Email</label>
                      <input type="text" #firstName formControlName="givenName" class="form-control" />
                    </div>
                  </div>
                </div>
                <div class="mt-3">
                  <h5 class="text-muted">Company Address</h5>
                </div>
                <div class="form-row">
                  <div class="form-group flex-fill">
                    <label>Street 1</label>
                    <input type="text" #firstName formControlName="givenName" class="form-control" />
                  </div>
                </div>
                <div class="form-row">
                  <div class="form-group flex-fill">
                    <label>Street 2</label>
                    <input type="text" #firstName formControlName="givenName" class="form-control" />
                  </div>
                </div>
                <div class="form-row">
                  <div class="col">
                    <div class="form-group flex-fill">
                      <label>City</label>
                      <input type="text" #firstName formControlName="givenName" class="form-control" />
                    </div>
                  </div>
                  <div class="col">
                    <div class="form-group flex-fill">
                      <label>State</label>
                      <input type="text" #firstName formControlName="givenName" class="form-control" />
                    </div>
                  </div>
                  <div class="col">
                    <div class="form-group flex-fill">
                      <label>Postal</label>
                      <input type="text" #firstName formControlName="givenName" class="form-control" />
                    </div>
                  </div>
                  <div class="col">
                    <div class="form-group flex-fill">
                      <label>Country</label>
                      <input type="text" #firstName formControlName="givenName" class="form-control" />
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <app-collapsible-card [expandOnLoad]="true">
        <div class="header">
          <div class="row">
            <div class="col-sm">
              <h5 class="mb-1 mb-md-0">Regional Settings</h5>
            </div>
          </div>
        </div>
        <div class="card-body bg-light card-content">
          <div class="card-body bg-light">
            <div class="form-row">
              <div class="col">
                <div class="form-group flex-fill">
                  <label>Country</label>
                  <input type="text" #firstName formControlName="givenName" class="form-control" />
                </div>
              </div>
              <div class="col">
                <div class="form-group flex-fill">
                  <label>Time Zone</label>
                  <input type="text" #firstName formControlName="givenName" class="form-control" />
                </div>
              </div>
            </div>
            <div class="form-row">
              <div class="col">
                <div class="form-group flex-fill">
                  <label>Date Format</label>
                  <input type="text" #firstName formControlName="givenName" class="form-control" />
                </div>
              </div>
              <div class="col">
                <div class="form-group flex-fill">
                  <label>Time Format</label>
                  <input type="text" #firstName formControlName="givenName" class="form-control" />
                </div>
              </div>
            </div>
            <div class="form-row mt-2">
              <div class="col">
                <label>First day of the week</label>
                <div class="mr-2">
                  <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="firstDayOfWeek" id="rSunday" value="0" />
                    <label class="form-check-label" for="rSunday">Sunday</label>
                  </div>
                  <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="firstDayOfWeek" id="rMonday" value="1" />
                    <label class="form-check-label" for="rMonday">Monday</label>
                  </div>
                  <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="firstDayOfWeek" id="rTuesday" value="2" />
                    <label class="form-check-label" for="rTuesday">Tuesday</label>
                  </div>
                  <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="firstDayOfWeek" id="rWednesday" value="3" />
                    <label class="form-check-label" for="rWednesday">Wednesday</label>
                  </div>
                  <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="firstDayOfWeek" id="rThursday" value="4" />
                    <label class="form-check-label" for="rThursday">Thurday</label>
                  </div>
                  <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="firstDayOfWeek" id="rFriday" value="5" />
                    <label class="form-check-label" for="rFriday">Friday</label>
                  </div>
                  <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="firstDayOfWeek" id="rSaturday" value="6" />
                    <label class="form-check-label" for="rSaturday">Saturday</label>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </app-collapsible-card>

      <app-tax-settings-card #taxesComponent></app-tax-settings-card>
      <!-- SAVING FOOTER -->
      <div class="card mt-3 bg-soft-success">
        <div class="card-body">
          <div class="row justify-content-between align-items-center">
            <div class="col-md">
              <h5 class="mb-2 mb-md-0">
                <span class="text-danger">unsaved changes</span>
              </h5>
            </div>
            <div class="col-auto">
              <button class="btn btn-success mr-1 mb-1 btn-sm mr-2">
                Update Settings
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-6 col-xxl-4 pl-xxl-2 mb-3">
      <div class="card mb-3 h-50" style="max-height: 220px;">
        <div class="card-header">
          <h5 class="mb-0 text-danger">Danger Zone</h5>
        </div>
        <div class="card-body bg-soft-danger">
          <h5 class="fs-0 text-danger">Delete this account</h5>
          <p class="fs--1">
            Once you delete a account, there is no going back. Please be
            certain.
          </p>
          <a class="btn btn-falcon-danger d-block" (click)="disconnectAccount()">Disconnect from Quickbooks
          </a>
        </div>
      </div>
      <app-business-hours-card></app-business-hours-card>
    </div>
  </div>
</form>
