<ng-container *ngIf="detailsLoaded">
  <div
    class="card details-border"
    [ngStyle]="{ 'border-left-color': details?.jobColor }"
  >
    <div class="card-body">
      <div class="row">
        <div class="col">
          <h5 class="mb-2">
            #{{ details?.fullJobNumber }} -
            <span class="text-500">{{ details?.title }}</span>
          </h5>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <h5 class="mb-2 fs--1">
            <span class="text-500 mr-2">Created By:</span
            ><span>{{ details?.createdBy?.displayName }}</span>
          </h5>
        </div>
      </div>
      <!-- <div class="row">
        <div class="col">
          <h6 class="text-500 font-weight-light">
            {{ details.description }}
          </h6>
        </div>
      </div> -->
      <div class="row">
        <div class="col">
          <a class="btn btn-falcon-primary btn-xs" (click)="addNoteClicked()"
            ><span class="fa fa-lightbulb-o mr-1"></span>Add note</a
          >
          <a
            class="btn btn-falcon-primary btn-xs ml-1"
            (click)="markAsCompleted()"
            ><span class="fa fa-usd mr-1"></span>Generate Invoice</a
          >
          <a
            class="btn btn-falcon-success btn-xs ml-1"
            (click)="markAsCompleted()"
            ><span class="fa fa-check mr-1"></span>Close job</a
          >
          <a class="btn btn-falcon-warning btn-xs ml-1"
            ><span class="fa fa-pencil mr-1"></span>Edit</a
          >
          <button
            class="btn btn-falcon-default btn-xs dropdown-toggle ml-1 dropdown-caret-none"
            type="button"
            data-toggle="dropdown"
            aria-haspopup="true"
            aria-expanded="false"
          >
            <i class="fa fa-ellipsis-h mr-1"></i> More actions
            <i class="fa fa-chevron-down"></i>
          </button>
          <div class="dropdown-menu">
            <a class="dropdown-item" href="#">
              <i class="fa fa-files-o mr-1"></i> Create Similar Job</a
            ><a class="dropdown-item" href="#">
              <i class="fa fa-archive mr-1"></i> Archive Job</a
            >
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">
              <i class="fa fa-file-pdf-o mr-1"></i>Download PDF
            </a>
            <a class="dropdown-item" href="#">
              <i class="fa fa-print mr-1"></i>Print
            </a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item text-danger" href="#">
              <i class="fa fa-trash mr-1"></i>Delete Job
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="card bg-light mt-2">
    <div class="card-body">
      <div class="row">
        <div class="col-lg col-xxl-4">
          <h6 class="font-weight-semi-bold ls mb-3 text-uppercase">
            Job Information
          </h6>
          <div class="row">
            <div class="col-5 col-sm-4">
              <p class="font-weight-semi-bold mb-1"># Job Id</p>
            </div>
            <div class="col">#{{ details?.fullJobNumber }}</div>
          </div>
          <div class="row">
            <div class="col-5 col-sm-4">
              <p class="font-weight-semi-bold mb-1">Display Name</p>
            </div>
            <div class="col">
              <a class="btn btn-sm btn-link ml-0 pl-0">{{
                details?.customer?.displayName
              }}</a>
            </div>
          </div>
          <div class="row">
            <div class="col-5 col-sm-4">
              <p class="font-weight-semi-bold mb-1">Created</p>
            </div>
            <div class="col">
              {{ details?.createDate | date: "dd/MM/yyyy hh:mm aa" }}
            </div>
          </div>

          <div class="row">
            <div class="col-5 col-sm-4">
              <p class="font-weight-semi-bold mb-1">Status</p>
            </div>
            <div class="col">
              <div
                class="mb-1 badge badge-pill badge-soft-{{
                  details?.jobStatusText?.toLowerCase().replace(' ', '-')
                }}"
              >
                {{ details?.jobStatusText }}
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg col-xxl-4 mt-4 mt-lg-0">
          <h6 class="font-weight-semi-bold ls mb-3 text-uppercase">
            Service Information
          </h6>
          <div class="row">
            <div class="col-5 col-sm-4">
              <p class="font-weight-semi-bold mb-1">Contact email</p>
            </div>
            <div class="col">
              <a href="mailto:{{ details.contactEmail }}">
                {{ details.contactEmail }}
              </a>
            </div>
          </div>
          <div class="row">
            <div class="col-5 col-sm-4">
              <p class="font-weight-semi-bold mb-1">Address</p>
            </div>
            <div class="col">
              <p class="mb-1">
                <!-- {{ details?.jobAddress?.addressLine1 }} <br />{{
                  details?.jobAddress?.city
                }}, {{ details?.jobAddress?.countrySubDivisionCode }}
                <span class="font-weight-semi-bold">{{
                  details?.jobAddress?.postalCode
                }}</span> -->
                <span>
                  <address class="mb-0 pb-0">
                    {{ details?.jobAddress?.addressLine1 }}<br />
                    {{ details?.jobAddress?.city }},
                    {{ details?.jobAddress?.countrySubDivisionCode }}
                    <strong>{{ details?.jobAddress?.postalCode }}</strong
                    ><br />
                    <a class="btn btn-link btn-sm pl-0 fs--1">
                      <span class="fa fa-map-marker mr-1"></span>view map</a
                    >
                  </address></span
                >
              </p>
            </div>
          </div>
          <div class="row">
            <div class="col-5 col-sm-4">
              <p class="font-weight-semi-bold mb-1">Phone number</p>
            </div>
            <div class="col">
              <a href="tel:+{{ details.contactPhone }}">
                {{ details.contactPhone }}
              </a>
            </div>
          </div>
        </div>
        <div class="col-lg col-xxl-4 mt-4 mt-lg-0">
          <h6 class="font-weight-semi-bold ls mb-3 text-uppercase">
            Billing Information
          </h6>
          <div class="row">
            <div class="col-5 col-sm-4">
              <p class="font-weight-semi-bold mb-1">Send email to</p>
            </div>
            <div class="col">
              <a href="mailto:{{ details.customer?.primaryEmailAddr }}">{{
                details.customer?.primaryEmailAddr
              }}</a>
            </div>
          </div>
          <div class="row">
            <div class="col-5 col-sm-4">
              <p class="font-weight-semi-bold mb-1">Address</p>
            </div>
            <div class="col">
              <p class="mb-1">8962 Lafayette St. <br />Oswego, NY 13126</p>
            </div>
          </div>
          <div class="row">
            <div class="col-5 col-sm-4">
              <p class="font-weight-semi-bold mb-1">Phone number</p>
            </div>
            <div class="col">
              <a href="tel:+{{ details.customer?.primaryPhone }}">{{
                details.customer?.primaryPhone
              }}</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row no-gutters mt-2">
    <div class="col-9 pr-xl-2">
      <div class="card">
        <div class="card-body">
          <ul ngbNav #nav="ngbNav" class="nav-tabs">
            <li ngbNavItem>
              <a ngbNavLink class="tab-link"
                ><span class="fa fa-list-alt mr-1"></span>Job details</a
              >
              <ng-template ngbNavContent>First content</ng-template>
            </li>
            <li ngbNavItem>
              <a ngbNavLink class="tab-link">
                <span class="fa fa-clock-o mr-1"></span>Visits
              </a>
              <ng-template ngbNavContent>
                <app-job-visits-view [jobId]="jobId"></app-job-visits-view>
              </ng-template>
            </li>
            <li ngbNavItem>
              <a ngbNavLink class="tab-link d-flex align-items-center"
                ><span class="fa fa-tasks mr-1"></span>Products
                <span
                  class="badge badge-pill badge-soft-dark ml-1"
                  #itemCounter
                ></span
              ></a>
              <ng-template ngbNavContent>
                <app-job-items-list-view
                  (onItemAddCompleted)="onItemAddCompleted($event)"
                  [watchJobItems]="true"
                  [jobId]="jobId"
                ></app-job-items-list-view>
              </ng-template>
            </li>
            <li ngbNavItem>
              <a ngbNavLink class="tab-link"
                ><span class="fa fa-wpforms mr-1"></span>Job Forms</a
              >
              <ng-template ngbNavContent>Second content</ng-template>
            </li>
            <li ngbNavItem>
              <a ngbNavLink class="tab-link">
                <span class="fa fa-link mr-1"></span>Attachments</a
              >
              <ng-template ngbNavContent>Second content</ng-template>
            </li>
            <li ngbNavItem class="tab-link">
              <a ngbNavLink class="tab-link"
                ><span class="fa fa-usd mr-1"></span>Expenses</a
              >
              <ng-template ngbNavContent>Second content</ng-template>
            </li>
          </ul>
          <div class="p-2" [ngbNavOutlet]="nav"></div>
        </div>
      </div>
    </div>
    <div class="col-3">
      <div class="card">
        <div class="card-body">HELLO</div>
      </div>
    </div>
  </div>
</ng-container>
