// 
// 
// user.scss
//
// Place your own theme CSS or SCSS rules below this line, these rules will override any Bootstrap and theme variables.
// .form-group {
//   margin-bottom: .5rem;
// }
.badge-soft-open{
    color: #867200;
    background-color: #f6eccc;
}
.badge-soft-accepted{
    color: #c46632;
    background-color: #fde6d8;
}
.badge-soft-rejected{
    color: #932338;
    background-color: #fad7dd;
}
.badge-soft-on-hold{
    color: #1c4f93;
    background-color: #d5e5fa;
}
.badge-soft-work-in-progress{
    color: #1978a2;
    background-color: #d4f2ff;
}
.badge-soft-cancelled{
    color: #932338;
    background-color: #fad7dd;
}
.badge-soft-completed{
    color: #00864e;
    background-color: #ccf6e4;
}
.badge-soft-closed{
    color: #9fa0a2;
    background-color: #fefeff;
}