<div class="p-1 vh-90">
  <div class="row">
    <div class="col-md-12">
      <div class="jumbotron shadow">
        <h1 class="display-4">Welcome, <strong>Service Pro</strong></h1>
        <p class="lead">Thanks for choosing Service Provider.</p>
        <hr class="my-4">
        <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
        <div>
          <button type="button" class="btn btn-warning btn-lg" role="button"
            (click)="goToRoute('app/settings/company')">
            Go to Company Setup</button>
          <a class="btn btn-info btn-lg" role="button">
            Sync Data With QuickBooks</a>
          <a class="btn btn-info btn-lg" role="button">
            Start Exploring</a>
        </div>
      </div>
    </div>
  </div>
</div>
