<div class="p-2 vh-90">
  <div class="row">
    <div class="col-md-6">
      <div class="btn-group mr-3">
        <div class="btn-group" ngbDropdown role="group" aria-label="Button group with nested dropdown">
          <button class="btn btn-outline-primary" ngbDropdownToggle>
            Batch Actions
          </button>
          <div class="dropdown-menu" ngbDropdownMenu>
            <button ngbDropdownItem>One</button>
            <button ngbDropdownItem>Two</button>
            <button ngbDropdownItem>Four!</button>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="float-right">
        <div class="btn-group">
          <button type="button" class="btn btn-primary">
            <span class="fa fa-plus"></span> New Customer
          </button>
          <div class="btn-group" ngbDropdown role="group" aria-label="Button group with nested dropdown">
            <button class="btn btn-primary dropdown-toggle-split" ngbDropdownToggle></button>
            <div class="dropdown-menu" ngbDropdownMenu>
              <button ngbDropdownItem>Import Customers</button>
              <button ngbDropdownItem>Sync Customers</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row mt-2">
    <div class="col-md-12">
      <ag-grid-angular style="width: 100%; height: 85vh;" class="ag-theme-alpine" [columnDefs]="columnDefs"
        [rowData]="customers$ | async">
      </ag-grid-angular>
    </div>
  </div>
</div>
