<div class="card">
  <div class="card-body">
    <div class="row justify-content-between align-items-center">
      <div class="col-md">
        <h4>
          <span>Customers</span>
        </h4>
      </div>
      <div class="col-auto">
        <button class="btn btn-falcon-default btn-sm mr-2" role="button" (click)="addNewCustomerClick()"><span
            class="fa fa-plus"></span> New
          Customer</button>
        <button class="btn btn-falcon-default btn-sm mr-2" role="button" (click)="importCustomers()"><span
            class="fa fa-cloud-download"></span> Import</button>
      </div>
    </div>

  </div>
</div>
<div class="card mt-1">
  <div class="card-header p-b-p5">
    <div class="row no-gutters align-items-center">

    </div>
  </div>
  <div class="card-body">
    <ag-grid-angular style="width: 100%; height: calc(100vh - 14.8rem);" class="ag-theme-alpine"
      [gridOptions]="gridOptions" [rowData]="customers$ | async">
    </ag-grid-angular>
  </div>
</div>
