<div class="py-2">
  <div class="row">
    <div class="col">
      <div class="d-flex justify-content-end">
        <button
          class="btn btn-xs btn-falcon-primary"
          (click)="attachNewJobFormClicked()"
        >
          <i class="fa fa-plus"></i> Attach Job Form
        </button>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <div class="d-flex justify-content-center">
        <h6 class="text-500">No job form attached.</h6>
      </div>
    </div>
  </div>
</div>
