.visit-row{
    cursor: pointer;
    padding: 8px;
}

.visit-row:hover{
    background-color: #f4eeda;
}
.align-content-center{
    align-content: center;
}

.check-success{
    color:white;
}
.custom-control-input:checked ~ .custom-control-label::before{
    border-color: #49a260;
    background-color: #49a260;
}