<div>
  <div class="row">
    <div class="col">
      <div class="d-flex justify-content-end">
        <button
          class="btn btn-falcon-success btn-xs"
          (click)="newVisitClicked()"
        >
          <i class="fa fa-plus"></i> New Visit
        </button>
      </div>
    </div>
  </div>
  <div *ngIf="visits$ | async as visits" class="mt-2">
    <div
      class="row visit-row"
      *ngFor="let visit of visits"
      (click)="onVisitClicked(visit, true)"
    >
      <div class="col-6">
        <div class="custom-control custom-checkbox ml-1">
          <input
            type="checkbox"
            class="custom-control-input"
            (click)="visitCheckboxClicked(visit, $event, false)"
            id="visit{{ visit.visitId }}"
          />
          <label class="custom-control-label" for="visit{{ visit.visitId }}">
            <i class="fa fa-clock-o"></i>
            <span>{{ visit.startDateTime | date: "EEE, MMM yy h:mm a" }}</span>
            <span *ngIf="visit.endDateTime">,&nbsp;</span>
            <span *ngIf="visit.hasSameDate">{{
              visit.endDateTime | date: "h:mm a"
            }}</span>
            <span *ngIf="!visit.hasSameDate">{{
              visit.endDateTime | date: "EEE, MMM yy h:mm a"
            }}</span>
          </label>
        </div>
      </div>
      <div class="col-6 col-6 d-flex align-items-center justify-content-end">
        <div class="d-flex flex-row align-items-center">
          <div *ngIf="!visit.isAssigned" class="badge badge-danger">
            Unassigned
          </div>
          <div *ngIf="visit.isAssigned">
            <h6 class="mb-0 pb-0">
              Assigned To {{ visit?.assignedTo.displayName }}
            </h6>
          </div>
          <div class="actions ml-3">
            <button class="btn btn-falcon-danger btn-xs">
              <i class="fa fa-trash"></i>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
