<app-toasts-global aria-live="polite" aria-atomic="true"></app-toasts-global>
<div class="container-fluid">
  <nav class="navbar navbar-vertical navbar-expand-xl navbar-light navbar-card">
    <div class="d-flex align-items-center">
      <div class="toggle-icon-wrapper">
        <button
          class="btn navbar-toggler-humburger-icon navbar-vertical-toggle"
          data-toggle="tooltip"
          data-placement="left"
          title="Toggle Navigation"
        >
          <span class="navbar-toggle-icon"
            ><span class="toggle-line"></span
          ></span>
        </button>
      </div>
      <a class="navbar-brand" href="../index.html">
        <div class="d-flex align-items-center py-3">
          <img
            class="mr-2"
            src="../assets/img/illustrations/falcon.png"
            alt=""
            width="40"
          /><span class="text-sans-serif">Service Pro</span>
        </div>
      </a>
    </div>
    <app-nav-menu></app-nav-menu>
  </nav>
  <div class="content">
    <app-top-nav-menu></app-top-nav-menu>
    <router-outlet></router-outlet>
  </div>
</div>
