<!-- <div class="page-wrapper">
  <div class="left-side-menu mm-show shadow">
    <div class="company-header">
      <h4>HELLOWORLD</h4>
    </div>
    <nav id="sidebarMenu">
      <div class="sidebar-sticky pt-3">
        <ul class="nav flex-column">
          <li class="nav-item">
            <a class="nav-link active" [routerLink]="['main/dashboard']">
              <span class="fa fa-home"></span>
              Dashboard <span class="sr-only">(current)</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">
              <span class="fa fa-file"></span>
              Orders
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">
              <span class="fa fa-shopping-cart"></span>
              Products
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['customers/list']">
              <span class="fa fa-users"></span>
              Customers
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">
              <span class="fa fa-bar-chart"></span>
              Reports
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">
              <span class="fa fa-cogs"></span>
              Integrations
            </a>
          </li>
        </ul>

        <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
          <span>JOBS</span>
          <a class="d-flex align-items-center text-muted" aria-label="Add a new report" data-toggle="tooltip"
            data-placement="top" title="Create new Job">
            <span class="fa fa-plus-circle text-warning" style="font-size: 25px;"></span>
          </a>
        </h6>
        <ul class="nav flex-column mb-2">
          <li class="nav-item">
            <a class="nav-link" href="#">
              <span class="fa fa-file-text"></span>
              Current month
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">
              <span class="fa fa-file-text"></span>
              Last quarter
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">
              <span class="fa fa-file-text"></span>
              Social engagement
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">
              <span class="fa fa-file-text"></span>
              Year-end sale
            </a>
          </li>
        </ul>
      </div>
    </nav>
  </div>
  <div class="content-page">
    
  </div>

</div> -->
<div class="container-fluid">
  <nav class="navbar navbar-vertical navbar-expand-xl navbar-light navbar-card">
    <div class="d-flex align-items-center">
      <div class="toggle-icon-wrapper">

        <button class="btn navbar-toggler-humburger-icon navbar-vertical-toggle" data-toggle="tooltip"
          data-placement="left" title="Toggle Navigation"><span class="navbar-toggle-icon"><span
              class="toggle-line"></span></span></button>

      </div><a class="navbar-brand" href="../index.html">
        <div class="d-flex align-items-center py-3"><img class="mr-2" src="../assets/img/illustrations/falcon.png"
            alt="" width="40" /><span class="text-sans-serif">Service Pro</span>
        </div>
      </a>
    </div>
    <app-nav-menu></app-nav-menu>
  </nav>
  <div class="content">
    <app-top-nav-menu></app-top-nav-menu>
    <router-outlet></router-outlet>
  </div>
</div>
