<div class="card">
  <div class="card-body">
    <div class="row no-gutters">
      <div class="col">
        <h5 class="text-700"><i class="fa fa-wpforms mr-1"></i>Job Forms</h5>
      </div>
      <div class="col-auto">
        <button
          class="mr-2 btn btn-falcon-primary btn-sm"
          (click)="createNewJobForm()"
        >
          <span class="fa fa-plus"></span> Create New Job Form
        </button>
      </div>
    </div>
  </div>
</div>
<app-job-forms-banner *ngIf="showBanner"></app-job-forms-banner>
<ng-container *ngIf="!showBanner">
  <div class="card mt-2">
    <div class="card-body">
      <ng-container *ngIf="jobFormDefinations$ | async as allDefinations">
        <div
          class="col d-flex justify-content-center"
          *ngIf="allDefinations.length === 0"
        >
          <div>
            <p class="mb-0 pb-0">
              <span>
                <i class="fa fa-wpforms mr-1"></i>No job forms created.</span
              >
            </p>
          </div>
          <div>
            <button
              class="btn btn-xs btn-falcon-primary"
              (click)="createNewJobForm()"
            >
              <span class="fa fa-plus"></span> Create New Job Form
            </button>
          </div>
        </div>

        <div
          *ngIf="allDefinations.length > 0"
          class="row no-gutters header-row border-bottom bg-light p-3 mt-2 d-flex align-items-center"
        >
          <div class="col-10">
            <h6 class="font-weight-bold mb-0">Form name</h6>
          </div>

          <div class="col-2">
            <h6 class="font-weight-bold">&nbsp;</h6>
          </div>
        </div>
        <div
          class="row no-gutters p-3 border-bottom hover-shadow d-flex align-items-center pointer"
          *ngFor="let defination of allDefinations"
        >
          <div class="col-10 pointer" (click)="onRowClicked(defination)">
            <h6 class="mb-0 font-weight-semi-bold fs-0">
              {{ defination.formName }}
            </h6>
          </div>
          <div class="col-2">
            <div class="d-flex justify-content-end">
              <button class="btn btn-sm btn-falcon-danger mr-1">
                <i class="fa fa-trash"></i>
              </button>
              <button
                class="btn btn-sm btn-falcon-primary mr-1"
                ngbTooltip="Create clone of this job form."
              >
                <i class="fa fa-files-o"></i>
              </button>
              <button
                class="btn btn-sm btn-falcon-primary"
                ngbTooltip="Generate report for this job form."
              >
                <i class="fa fa-list-alt"></i>
              </button>
            </div>
          </div>
        </div>
      </ng-container>
      <div class="row mt-2">
        <div class="col ml-2">
          <div class="custom-control custom-switch">
            <input
              class="custom-control-input"
              id="jobFormsFeatureToggle"
              type="checkbox"
            />
            <label class="custom-control-label" for="jobFormsFeatureToggle"
              >Turn Off Job Forms</label
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-container>
