<div class="card">
  <div class="card-body">
    <div class="row no-gutters">
      <div class="col">
        <h5 class="text-700">
          <i class="fa fa-money mr-1"></i>Expense Tracking
          <br *ngIf="!showBanner" />
          <small class="text-500" *ngIf="!showBanner"
            >Record expenses for each job and categorize them by creating
            accounting codes. [TO BE CHANGED]
          </small>
        </h5>
      </div>
    </div>
  </div>
</div>
<app-expense-tracking-banner *ngIf="showBanner"></app-expense-tracking-banner>
<div class="card mt-2" *ngIf="!showBanner">
  <div class="card-body">
    <div class="row">
      <div class="col">
        <div class="d-flex justify-content-end">
          <button
            class="btn btn-sm btn-falcon-primary"
            (click)="addNewExpenseCode()"
          >
            <i class="fa fa-plus"></i> Add Expense Code
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
