<div class="form-group flex-fill">
  <label>Customer*</label>
  <input
    id="typeahead-prevent-manual-entry"
    #titleInput
    type="text"
    class="form-control form-control-sm"
    [(ngModel)]="value"
    [ngClass]="{ 'is-invalid': validationMessages[validationMessagesKey] }"
    [ngbTypeahead]="searchCustomer"
    [inputFormatter]="customerSearchFormatter"
    [resultFormatter]="customerSearchFormatter"
    [editable]="false"
    (selectItem)="onCustomerSelectionChanged()"
  />
  <div
    class="invalid-feedback"
    *ngIf="validationMessages[validationMessagesKey]"
  >
    {{ validationMessages[validationMessagesKey] }}
  </div>
</div>
