<div class="modal-header">
  <h5 class="modal-title">Job Form Details</h5>
</div>

<div class="modal-body">BODY</div>
<div class="modal-footer">
  <div class="row no-gutters">
    <div class="col d-flex justify-content-end">
      <button
        type="button"
        class="btn btn-xs btn-danger mr-1"
        (click)="onCloseButtonClicked()"
      >
        Close
      </button>
      <button
        type="submit"
        class="btn btn-xs btn-primary"
        (click)="onSaveChangesClicked()"
      >
        Save Changes
      </button>
    </div>
  </div>
</div>
