<div [formGroup]="parentFormGroup">
  <div [formArrayName]="formArrayName">
    <div class="row mt-2">
      <div class="col">
        <div class="d-flex justify-content-end">
          <div class="d-flex justify-content-end">
            <button
              class="btn btn-falcon-success btn-xs"
              (click)="addLineItemClicked(false)"
            >
              <i class="fa fa-plus"></i> Add Line item from List
            </button>
          </div>
        </div>
      </div>
    </div>
    <div
      class="row header-row border-bottom bg-light p-2 mt-2 d-flex align-items-center"
    >
      <div class="col-5">
        <h6 class="font-weight-bold mb-0">Products/Service</h6>
      </div>
      <div class="col-2 d-flex justify-content-center">
        <h6 class="font-weight-bold mb-0">Quantity</h6>
      </div>
      <div class="col-2 d-flex justify-content-center">
        <h6 class="font-weight-bold mb-0">Price</h6>
      </div>
      <div class="col-2 d-flex justify-content-center">
        <h6 class="font-weight-bold mb-0">Total</h6>
      </div>
      <div class="col-1">
        <h6 class="font-weight-bold">&nbsp;</h6>
      </div>
    </div>
    <div *ngIf="controlsArray.controls.length > 0">
      <div
        class="row p-2 border-bottom hover-shadow d-flex align-items-center"
        *ngFor="let _ of controlsArray.controls; index as i"
        [formGroupName]="i"
      >
        <div class="col-5">
          <h6 class="font-weight-light mb-0">
            {{ productName(i) }}
          </h6>
        </div>
        <div class="col-2 d-flex justify-content-center">
          <div class="form-group flex-fill">
            <div class="input-group input-group-sm">
              <div class="input-group-prepend">
                <button
                  class="btn btn-sm btn-outline-secondary border-300 px-2"
                  data-field="input-quantity"
                  (click)="updateQuantity(i, -1)"
                  tabindex="-1"
                  data-type="minus"
                >
                  -
                </button>
              </div>
              <input
                class="form-control form-control-sm text-center px-2 input-quantity input-spin-none"
                type="number"
                formControlName="quantity"
                aria-label="Amount (to the nearest dollar)"
                style="max-width: 40px"
              />
              <div class="input-group-append">
                <button
                  class="btn btn-sm btn-outline-secondary border-300 px-2"
                  data-field="input-quantity"
                  data-type="plus"
                  (click)="updateQuantity(i, 1)"
                  tabindex="-1"
                >
                  +
                </button>
              </div>
            </div>
          </div>
        </div>
        <div class="col-2">
          <div class="form-group flex-fill">
            <input
              class="form-control form-control-sm text-center px-2"
              type="text"
              formControlName="price"
            />
          </div>
        </div>
        <div class="col-2 d-flex justify-content-center">
          <h6 class="font-weight-bold mb-0">
            {{ getRowTotal(i) | currency }}
          </h6>
        </div>
        <div class="col-1">
          <button
            class="btn btn-sm btn-falcon-default"
            (click)="deleteItem(i, false)"
          >
            <i class="fa fa-pencil"></i>
          </button>
          <button
            class="btn btn-sm btn-falcon-danger"
            (click)="deleteItem(i, false)"
          >
            <i class="fa fa-trash"></i>
          </button>
        </div>
      </div>
    </div>
    <div
      class="row p-3 border-bottom"
      *ngIf="controlsArray.controls.length === 0"
    >
      <div class="col d-flex justify-content-center">
        <h6 class="font-weight-normal mb-0 text-500">No Line items added</h6>
      </div>
    </div>
  </div>
</div>
