<div class="modal-header">
  <h5 class="modal-title">Add Expense Code</h5>
</div>
<form [formGroup]="expenseCodeFormGroup">
  <div class="modal-body">
    <app-error-view
      [errors$]="errors$"
      observableDefined="true"
    ></app-error-view>
    <div class="form-group">
      <label>Expense Code</label>
      <input
        type="text"
        class="form-control form-control-sm"
        formControlName="codeName"
        placeholder="enter expense code here..."
      />
    </div>
  </div>
  <div class="modal-footer">
    <div class="row">
      <div class="col pr-0">
        <div class="d-flex justify-content-right">
          <button
            class="btn btn-xs btn-danger mr-1"
            (click)="onCancelClicked()"
          >
            Cancel
          </button>
          <button
            type="submit"
            class="btn btn-xs btn-primary"
            (click)="onSaveButtonClicked()"
          >
            Save
          </button>
        </div>
      </div>
    </div>
  </div>
</form>
