<div class="card">
  <div class="card-body p-0">
    <nav
      class="navbar navbar-expand-lg navbar-light bg-soft-light fs--1 rounded"
    >
      <a
        class="navbar-brand"
        [routerLink]="['company']"
        routerLinkActive="active"
        >Company Name</a
      >
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarContent1"
        aria-controls="navbarContent1"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarContent1">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item dropdown">
            <a
              class="nav-link dropdown-toggle"
              id="navbarDropdownComponent"
              href="#"
              role="button"
              data-toggle="dropdown"
              aria-haspopup="true"
              aria-expanded="false"
            >
              <span class="fa fa-home mr-1"></span>Company
            </a>
            <div
              class="dropdown-menu dropdown-menu-right py-0"
              aria-labelledby="navbarDropdownComponent"
            >
              <div class="bg-white rounded-soft py-2">
                <a
                  class="dropdown-item"
                  [routerLink]="['company']"
                  routerLinkActive="active"
                  ><div class="d-flex align-items-center">
                    <span class="nav-link-icon"
                      ><span class="fa fa-gear mr-1"></span></span
                    ><span class="nav-link-text">Company Settings</span>
                  </div></a
                >
                <a
                  class="dropdown-item"
                  [routerLink]="['branding']"
                  routerLinkActive="active"
                >
                  <div class="d-flex align-items-center">
                    <span class="nav-link-icon"
                      ><span class="fa fa-film mr-1"></span></span
                    ><span class="nav-link-text"> Branding</span>
                  </div></a
                >
                <div class="dropdown-divider"></div>
                <a
                  class="dropdown-item"
                  [routerLink]="['cusflds']"
                  routerLinkActive="active"
                >
                  <div class="d-flex align-items-center">
                    <span class="nav-link-icon"
                      ><span class="fa fa-list-alt mr-1"></span></span
                    ><span class="nav-link-text"> Custom Fields</span>
                  </div></a
                >
                <a
                  class="dropdown-item"
                  [routerLink]="['main/dashboard']"
                  routerLinkActive="active"
                >
                  <div class="d-flex align-items-center">
                    <span class="nav-link-icon"
                      ><span class="fa fa-cogs mr-1"></span></span
                    ><span class="nav-link-text">Other Configurations</span>
                  </div></a
                >
              </div>
            </div>
          </li>
          <!-- PRODUCT * SERVICES -->
          <li class="nav-item dropdown">
            <a
              class="nav-link dropdown-toggle"
              id="navbarDropdownComponent"
              href="#"
              role="button"
              data-toggle="dropdown"
              aria-haspopup="true"
              aria-expanded="false"
              ><span class="fa fa-wrench mr-1"></span>Product & Services</a
            >
            <div
              class="dropdown-menu dropdown-menu-right py-0"
              aria-labelledby="navbarDropdownComponent"
            >
              <div class="bg-white rounded-soft py-2">
                <a
                  class="dropdown-item"
                  [routerLink]="['products/list']"
                  routerLinkActive="active"
                  >List</a
                >
                <a
                  class="dropdown-item"
                  [routerLink]="['products/prdcts-cuspri']"
                  routerLinkActive="active"
                >
                  Custom Pricing</a
                >
              </div>
            </div>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#"
              ><div class="d-flex align-items-center">
                <span class="nav-link-icon"
                  ><span class="fa fa-bell-o mr-1"></span></span
                ><span class="nav-link-text"> Notifications</span>
              </div></a
            >
          </li>
          <li class="nav-item dropdown">
            <a
              class="nav-link dropdown-toggle"
              id="navbarDropdownComponent"
              href="#"
              role="button"
              data-toggle="dropdown"
              aria-haspopup="true"
              aria-expanded="false"
              ><span class="fa fa-puzzle-piece mr-1"></span>Features</a
            >
            <div
              class="dropdown-menu dropdown-menu-right py-0"
              aria-labelledby="navbarDropdownComponent"
            >
              <div class="bg-white rounded-soft py-2">
                <a
                  class="dropdown-item"
                  [routerLink]="['expense/codes']"
                  routerLinkActive="active"
                >
                  <div class="d-flex align-items-center">
                    <span class="nav-link-icon"
                      ><span class="fa fa-money mr-1"></span></span
                    ><span class="nav-link-text"> Expense Tracking</span>
                  </div></a
                >
                <a
                  class="dropdown-item"
                  [routerLink]="['main/dashboard']"
                  routerLinkActive="active"
                >
                  <div class="d-flex align-items-center">
                    <span class="nav-link-icon"
                      ><span class="fa fa-hdd-o mr-1"></span></span
                    ><span class="nav-link-text"> Equipment Tracking</span>
                  </div></a
                >
                <a
                  class="dropdown-item"
                  [routerLink]="['main/dashboard']"
                  routerLinkActive="active"
                >
                  <div class="d-flex align-items-center">
                    <span class="nav-link-icon"
                      ><span class="fa fa-flask mr-1"></span></span
                    ><span class="nav-link-text"> Chemical Tracking</span>
                  </div></a
                >
              </div>
            </div>
          </li>
          <li class="nav-item dropdown">
            <a
              class="nav-link dropdown-toggle"
              id="navbarDropdownComponent"
              href="#"
              role="button"
              data-toggle="dropdown"
              aria-haspopup="true"
              aria-expanded="false"
              ><span class="fa fa-truck mr-1"></span>Job Configurations</a
            >
            <div
              class="dropdown-menu dropdown-menu-right py-0"
              aria-labelledby="navbarDropdownComponent"
            >
              <div class="bg-white rounded-soft py-2">
                <a
                  class="dropdown-item"
                  [routerLink]="['jobs/config']"
                  routerLinkActive="active"
                >
                  <div class="d-flex align-items-center">
                    <span class="nav-link-icon"
                      ><span class="fa fa-gear mr-1"></span></span
                    ><span class="nav-link-text"> Configurations</span>
                  </div></a
                >
                <a
                  class="dropdown-item"
                  [routerLink]="['jobs/forms']"
                  routerLinkActive="active"
                >
                  <div class="d-flex align-items-center">
                    <span class="nav-link-icon"
                      ><span class="fa fa-wpforms mr-1"></span></span
                    ><span class="nav-link-text"> Job Forms</span>
                  </div></a
                >
              </div>
            </div>
          </li>
          <li class="nav-item dropdown">
            <a
              class="nav-link dropdown-toggle"
              id="navbarDropdownComponent"
              href="#"
              role="button"
              data-toggle="dropdown"
              aria-haspopup="true"
              aria-expanded="false"
              ><span class="fa fa-users mr-1"></span>Team Management</a
            >
            <div
              class="dropdown-menu dropdown-menu-right py-0"
              aria-labelledby="navbarDropdownComponent"
            >
              <div class="bg-white rounded-soft py-2">
                <a
                  class="dropdown-item"
                  [routerLink]="['users/list']"
                  routerLinkActive="active"
                >
                  <div class="d-flex align-items-center">
                    <span class="nav-link-icon"
                      ><span class="fa fa-user mr-1"></span></span
                    ><span class="nav-link-text"> Manage Users</span>
                  </div></a
                >
                <a
                  class="dropdown-item"
                  [routerLink]="['main/dashboard']"
                  routerLinkActive="active"
                >
                  <div class="d-flex align-items-center">
                    <span class="nav-link-icon"
                      ><span class="fa fa-users mr-1"></span></span
                    ><span class="nav-link-text"> Manage Teams</span>
                  </div></a
                >
                <a
                  class="dropdown-item"
                  [routerLink]="['main/dashboard']"
                  routerLinkActive="active"
                >
                  <div class="d-flex align-items-center">
                    <span class="nav-link-icon"
                      ><span class="fa fa-key mr-1"></span></span
                    ><span class="nav-link-text"> Access Management</span>
                  </div></a
                >
              </div>
            </div>
          </li>
        </ul>
      </div>
    </nav>
  </div>
</div>
<div class="content mt-2">
  <router-outlet></router-outlet>
</div>
