<div class="modal-header">
  <h5 class="modal-title">Attach Job Form</h5>
  <button
    type="button"
    class="close"
    aria-label="Close"
    (click)="activeModal.dismiss()"
  >
    <span aria-hidden="true">&times;</span>
  </button>
</div>

<div class="modal-body">
  <app-action-code-ui-renderer
    autoClose="true"
    [actionResponseCode$]="actionResponseCode$"
  ></app-action-code-ui-renderer>
  <div class="p-2">
    <div
      class="row border-bottom hover-shadow visit-row p-3"
      *ngFor="let form of jobForms$ | async"
    >
      <div
        class="col-8 no-gutters d-flex align-items-center justify-content-start pl-0"
      >
        <h6 class="m-0 p-0">
          {{ form.formName }}<br />
          <small class="text-warning" *ngIf="form.allowMultipleVersions"
            >Multiple versions allowed.</small
          >
        </h6>
      </div>
      <div class="col-4 d-flex align-items-center justify-content-end">
        <button
          class="btn btn-xs btn-falcon-primary"
          (click)="attachJobFormToJob(form)"
        >
          Attach
        </button>
      </div>
    </div>
  </div>
</div>
