<div class="modal-header">
  <h5 class="modal-title">Create Job</h5>
  <button
    type="button"
    class="close"
    aria-label="Close"
    (click)="activeModal.dismiss('Cross click')"
  >
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<form [formGroup]="jobFormGroup">
  <div class="modal-body">
    <app-error-view
      [errors$]="errors$"
      [observableDefined]="true"
    ></app-error-view>
    <div class="form-row">
      <div class="col-8">
        <app-customer-selector-input
          #customerSelector
          formControlName="customer"
          label="'Select Customer'"
          (onSelectionChanged)="onCustomerSelectionChanged($event)"
          [validationMessages]="validationMessages"
          validationMessagesKey="customer"
        ></app-customer-selector-input>
      </div>
      <div class="col-1">
        <div class="d-flex justify-content-center mt-4">
          <span class="text-400">OR</span>
        </div>
      </div>
      <div class="col-3">
        <div class="form-group flex-fill">
          <div class="d-flex align-items-end">
            <button
              class="btn btn-falcon-default btn-block mt-4 btn-sm"
              tabindex="-1"
            >
              <i class="fa fa-plus"></i>
              Create New
            </button>
          </div>
        </div>
      </div>
    </div>
    <div class="row mt-1" *ngIf="this.selectedAddress">
      <div class="col">
        <div class="card">
          <app-address-card
            #addressCard
            [address]="this.selectedAddress"
            [allowEdit]="false"
            [allowUseThisAddress]="false"
          ></app-address-card>
        </div>
      </div>
    </div>
    <div class="mt-2">
      <h5 class="modal-title text-400 fs-0">Job Information</h5>
    </div>
    <div class="form-row">
      <div class="col-8">
        <div class="form-group flex-fill">
          <label>Job Title*</label>
          <input
            type="text"
            #jobTitle
            formControlName="jobTitle"
            class="form-control form-control-sm"
            [ngClass]="{ 'is-invalid': validationMessages.jobTitle }"
          />
          <div class="invalid-feedback" *ngIf="validationMessages.jobTitle">
            {{ validationMessages.jobTitle }}
          </div>
        </div>
      </div>
      <div class="col-3">
        <div class="form-group flex-fill">
          <label>Job #</label>
          <div class="input-group input-group-sm mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text" id="basic-addon1">SPJ</span>
            </div>
            <input
              type="text"
              formControlName="jobNumber"
              class="form-control form-control-sm"
            />
            <small class="form-text text-muted">
              <i class="fa fa-info-circle text-info"></i> Auto populated if left
              blank.</small
            >
          </div>
        </div>
      </div>
      <div class="form-group col-1 width-title">
        <label>Color</label>
        <input
          type="text"
          class="form-control form-control-sm"
          [(colorPicker)]="selectedJobColor"
          readonly
          [style.background]="selectedJobColor"
          autocomplete="new-password"
        />
      </div>
    </div>
    <div class="form-group flex-fill">
      <app-product-selector-input
        formControlName="serviceType"
        label="Service Type"
        (onSelectionChanged)="onServiceTypeChanged($event)"
        [validationMessages]="validationMessages"
        validationMessagesKey="serviceType"
      ></app-product-selector-input>
    </div>
    <div class="form-group flex-fill">
      <label>Description</label>
      <textarea
        formControlName="jobDescription"
        rows="4"
        class="form-control form-control-sm"
      ></textarea>
    </div>

    <div class="mt-2">
      <h5 class="modal-title text-400 fs-0">
        <a
          class="form-section-link"
          data-toggle="collapse"
          href="#schedulePanel"
          role="button"
          aria-expanded="false"
          aria-controls="schedulePanel"
        >
          Schedule (optional)
        </a>
      </h5>
    </div>
    <div class="collapse" id="schedulePanel">
      <div class="form-group flex-fill">
        <label>Assign To</label>
        <select
          formControlName="assignedTo"
          class="form-control form-control-sm"
        ></select>
      </div>
      <div class="form-row">
        <div class="col-3">
          <div class="form-group flex-fill">
            <app-datetime-picker
              selectorType="date"
              formControlName="startDate"
              title="Start Date"
              (onChanged)="onStartDateChanged($event)"
            ></app-datetime-picker>
          </div>
        </div>
        <div class="col-3">
          <div class="top-margin-4">
            <label class="sr-only">Start Date</label>
            <app-datetime-picker
              selectorType="time"
              formControlName="startTime"
              [showTitle]="false"
              [combinedWithDate]="getFieldValue('startDate')"
            ></app-datetime-picker>
          </div>
        </div>
        <div class="col-3">
          <div class="form-group flex-fill">
            <app-datetime-picker
              selectorType="date"
              formControlName="endDate"
              title="End Date (Optional)"
            ></app-datetime-picker>
          </div>
        </div>
        <div class="col-3">
          <div class="top-margin-4">
            <label class="sr-only">Start Time</label>
            <app-datetime-picker
              selectorType="time"
              formControlName="endTime"
              [showTitle]="false"
              [combinedWithDate]="getFieldValue('endDate')"
            ></app-datetime-picker>
          </div>
        </div>
      </div>
      <div class="form-group form-check">
        <input
          class="form-check-input"
          id="scheduleLater"
          type="checkbox"
          formControlName="scheduleLater"
          (change)="onScheduleLaterCheckChange()"
        />
        <label class="form-check-label" for="scheduleLater"
          >Schedule Later</label
        >
      </div>
    </div>
    <div class="mt-2">
      <h5 class="modal-title text-400 fs-0">
        <a
          class="form-section-link"
          data-toggle="collapse"
          href="#internalNotesPanel"
          role="button"
          aria-expanded="false"
          aria-controls="internalNotesPanel"
        >
          Internal Notes (optional)
        </a>
      </h5>
    </div>
    <div class="form-row collapse" id="internalNotesPanel">
      <div class="col">
        <div class="form-group flex-fill">
          <label>Internal Notes</label>
          <textarea
            formControlName="internalNotes"
            rows="4"
            class="form-control form-control-sm"
          ></textarea>
          <small class="form-text text-muted">
            <i class="fa fa-info-circle text-info"></i> For internal use only.
            These notes will not included in any email or pdf.</small
          >
        </div>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <div class="col pr-0">
      <div class="float-right">
        <button
          type="button"
          class="btn btn-outline-dark btn-sm mr-1 mb-1"
          (click)="activeModal.close('Close click')"
          [disabled]="isBusy"
        >
          Cancel
        </button>
        <button
          class="btn btn-primary btn-sm mr-1 mb-1"
          type="submit"
          (click)="onFormSubmitted(false)"
          [disabled]="isBusy"
        >
          <span>Create</span>
        </button>
        <button
          class="btn btn-primary btn-sm mr-1 mb-1"
          type="submit"
          (click)="onFormSubmitted(true)"
          [disabled]="isBusy"
        >
          <span>Create & Edit</span>
        </button>
      </div>
    </div>
  </div>
</form>
